@page "/about"

<PageTitle>About</PageTitle>

<h1>About the AI Worry Jar</h1>

<div class="text-start">
    <h2>What is a worry jar?</h2>

    <p>Accourding to ChatGPT:</p>

    <blockquote class="blockquote blockquote-background">
        <p>A Worry Jar is a practical tool designed to help children and teens manage their worries and anxiety. Here's
            how
            it works:</p>

        <ul>
            <li>Creating the Jar: Start by finding a real glass or plastic jar. Involve your child in decorating it—this
                part
                can be really fun! Label the jar with a name, such as "Johnny's Worry Jar" or "My Worry Jar."</li>
            <li>Writing Down Worries: Have your child write down all their worries on strips of paper. These worries can
                be
                about safety, school, family, health, or anything else that bothers them. Each worry gets its own strip
                of
                paper.</li>
            <li>Putting Worries Away: Fold each worry and place it inside the jar. Once all the worries are in the jar,
                close it. The magic lies in knowing that the worries are contained there, freeing your child from
                constantly
                replaying
                them in their mind.</li>
        </ul>

        <p>By using the Worry Jar, children can experience relief and prevent repetitive thoughts about their worries.
            It's
            like storing those concerns away for safekeeping, allowing them to focus on other things without feeling
            overwhelmed</p>
    </blockquote>

    <h2>What is an AI worry jar?</h2>

    <p>Taking the basic idea of a phyiscal worry jar and making it digital. The same idea applies, put your worries into
        a
        digital space where it is contained elsewhere allowing you to let got of it.</p>

    <p>AI is only used to generate kind message after the worry is sent out into aether.</p>

    <h2>What are your qualifications to make something like this?</h2>

    <p>None. I am in no way a doctor.</p>

    <h2>What do you do with my worries?</h2>

    <p>Absolutely nothing. Text entered into the text are of the worry jar is never used, read, or saved. On
        clicking the submit button the text area is cleared and a static prompt is sent to the AI bot. You can inspect
        how this works yourself by visiting the link to the source code below.</p>

    <a href="/">Back to the worry jar.</a>
</div>