@using ChatGPT.Net;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@page "/jar"
@rendermode InteractiveServer

<PageTitle>AIWorryJar</PageTitle>

<p>Tell me about what is worrying you.</p>
<textarea id="jar" name="jar" rows="15" class="form-control form-rounded bg-dark text-light" placeholder="Let it out, then let it go." @bind=@textareaValue />

<div class="container">
    <button type="button" class="btn btn-primary btn-lg btn-block mt-1" @onclick="LetItGoClicked">Let it go</button>
</div>

<p class="@visClass">@gptResponse</p>

@code {
    private string textareaValue
    {
        get => "";

        set { }
    }

    private int time = 5;
    private string gptResponse = "";
    private string visClass = "hidden";

    private async Task LetItGoClicked()
    {
        try{
            var bot = new ChatGpt(Configuration["OPENAI_API_KEY"]);

            gptResponse = await bot.Ask("You are a worry jar and I just told you my worries. In a short sentence tell me everything will be ok.");
        
            if(gptResponse == null)
            {
                throw new Exception("Failed to get response from GPT.");
            }
        }
        catch
        {
            gptResponse = "Everything will be ok. You got this.";
        }

        visClass = "visible";

        fadoutGptResponse();
    }

    public async void fadoutGptResponse()
    {
        await Task.Delay(1000 * time);
        visClass = "hidden";
        StateHasChanged();
    }
}
