@page "/jar"
@rendermode InteractiveServer

<PageTitle>Jar</PageTitle>

<p>Tell me about what is worrying you.</p>
<textarea id="jar" name="jar" rows="4" placeholder="Let it out, then let it go." @bind=@textareaValue />

<button class="btn btn-primary" @onclick="LetItGoClicked">Let it go</button>

@code {
    @* private string textareaValue = ""; *@

    private string textareaValue
    {
        get => "";

        set { }
    }

    private void LetItGoClicked()
    {
        Console.WriteLine("My debug output.");
    }
}
