@using ChatGPT.Net;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@page "/jar"
@rendermode InteractiveServer

<PageTitle>Jar</PageTitle>

<p>Tell me about what is worrying you.</p>
<textarea id="jar" name="jar" rows="4" placeholder="Let it out, then let it go." @bind=@textareaValue />

<button class="btn btn-primary" @onclick="LetItGoClicked">Let it go</button>

<p>@gptResponse</p>

@code {
    private string textareaValue
    {
        get => "";

        set { }
    }

    private string gptResponse = "";

    private async Task LetItGoClicked()
    {
        var bot = new ChatGpt(Configuration["OPENAI_API_KEY"]);

        gptResponse = await bot.Ask("You are a worry jar and I just told you my worries. in a short sentence tell me everything will be ok.");
    }
}
