<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col text-center">
          <a href="/">The worry jar.</a>
        </div>

        <div class="col text-center">
          <a href="/About">About the worry jar.</a>
        </div>

        <div class="col text-center">
          <a href="https://github.com/dcrreynolds/AIWorryJar">Github</a>
        </div>

      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: David Reynolds
  </div>
</footer>